Flask
Flask-Caching
PyPDF2
langchain
langchain-google-genai
langchain-community
faiss-cpu
pandas
python-dotenv
gunicorn==21.2.0
Werkzeug
openai
flask_cors
google-cloud-aiplatform
twilio 
# google-cloud-storage
# google-cloud-bigquery
# google-cloud-secret-manager
# google-cloud-pubsub
# google-cloud-logging
# google-cloud-translate
# google-cloud-vision